---
layout: default
---

<style type="text/css">
.welcomeHeader {
min-height: 400px;
background: url({{site.data.welcome2[0].Featured_Image[0].url}}) no-repeat center center;
background-size: cover;
display: flex;
flex-direction: column;
justify-content: flex-end;
}
</style>

<div class="welcome">
    <div class="welcomeHeader">
        <h1>{{site.data.welcome2[0].Page_Heading}}</h1>
    </div><!-- /welcomeHeader -->
    <div class="content">
        {% for section in site.data.welcome %}
        
        <div class="section">
            <div class="section-inner">
            <h2>{{section.Section_title}}</h2>
            {% if section.Image %}
            <img src="{{section.Image[0].url}}" alt="">
            {% endif %}
            {{section.Content | markdownify }}
            
            </div><!--/section-inner-->
        </div><!--/section-->
      {% endfor %}
        <div class="map">
           {{site.data.location[0].Google_Maps_Embed_Code | raw}}
        </div><!--/section-->
    </div><!--/content-->
</div><!-- /welcome -->